*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000bf;
}

.container{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.quadrato{
    width: 200px;
    height: 200px;
    border: 1px solid white;
}